@font-face {
    font-family: 'zabars';
    src: url('assets/fonts/zabars.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url('assets/img/desert-bg3.png');
    background-size: cover;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 46px;
    color: rgb(160, 34, 10);
}

h1 {
    letter-spacing: 8px;
    text-shadow: 4px 4px 2px rgba(160, 34, 10, 0.3);
}

/* #fullscreen {
    
} */

canvas {
    width: 100%;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 6px 6px rgba(160, 34, 10, 0.7);
    display: block;
}

@media only screen and (max-width: 720px) {
    #fullscreen {
        width: 100%;
    }

    canvas {
        border-radius: unset;
    }
}

@media only screen and (max-height: 480px) {
    h1 {
        display: none;
    }

    /* #fullscreen {
        height: 100vh;
        border-radius: unset;
    } */

    canvas {
        height: 100vh;
        border-radius: unset;
    }
}