@charset "UTF-8";
@font-face {
  font-family: "zabars";
  src: url("assets/fonts/zabars.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: "boogaloo";
  src: url("assets/fonts/boogaloo-regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-image: url("assets/img/desert-bg3.png");
  background-size: cover;
  font-family: "boogaloo", Arial, Helvetica, sans-serif;
  font-size: 46px;
  color: #a0220a;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #ef8b10;
  border-radius: 2px;
}

h1 {
  letter-spacing: 8px;
  font-family: "zabars", Arial, Helvetica, sans-serif;
  text-shadow: 4px 4px 2px rgba(160, 34, 10, 0.3);
}

#main-screen-container {
  position: relative;
}

canvas {
  width: 100%;
  border-radius: 10px;
  background-color: black;
  box-shadow: 0px 0px 6px 6px rgba(160, 34, 10, 0.7);
  display: block;
}

#status-bar-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  width: 32px;
  position: absolute;
  top: 22px;
  left: 24%;
  font-size: 20px;
  color: white;
}

#endboss-status {
  position: absolute;
  top: 62%;
  left: 966%;
}

.overlay-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

#start-screen {
  background-image: url("assets/img/9_intro_outro_screens/start/startscreen_1big.png");
  background-size: cover;
  background-position-y: 40%;
}

#play-btn-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#play-btn-screen:hover #play-btn img {
  opacity: 0.5;
  transition: all 250ms ease-in-out;
}

#play-btn {
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
}
#play-btn img {
  width: 288px;
  opacity: 0;
  transition: all 250ms ease-in-out;
}
#play-btn:hover img {
  opacity: 0.8 !important;
  transition: all 250ms ease-in-out;
}

#menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
}

#sound-btn,
#info-btn,
#fullscreen-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
}
#sound-btn img,
#info-btn img,
#fullscreen-btn img {
  width: 32.4px;
  opacity: 0.8;
}
#sound-btn:hover img,
#info-btn:hover img,
#fullscreen-btn:hover img {
  opacity: 1;
}

#fullscreen-btn img {
  width: 28.8px;
}

#info-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px 40px 48px 40px;
  background-color: rgba(0, 0, 0, 0.878);
}

#info-content {
  display: flex;
  flex-direction: column;
  color: #ef8b10;
  font-size: 26px;
  overflow: auto;
  height: inherit;
  z-index: 3;
  padding-right: 16px;
}
#info-content section {
  margin-bottom: 48px;
}
#info-content h2 {
  margin-bottom: 24px;
  color: #ffc521;
}
#info-content td:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding-right: 80px;
  padding-left: 8px;
}

.key, .permanent-key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  color: #a0220a;
  background: linear-gradient(to bottom, #ffc521, #ef8b10);
  border: solid 2px;
  font-size: 32px;
}
.key img:not(.key-space), .permanent-key img:not(.key-space) {
  width: 16px;
  height: 16px;
}
.key .key-space, .permanent-key .key-space {
  width: 36px;
  height: 36px;
}

.key-separator {
  color: #a0220a;
  margin: 0 16px;
  font-size: 48px;
}

.description-text {
  margin-bottom: 16px;
}

.sound-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #a0220a;
  background: linear-gradient(to bottom, #ffc521, #ef8b10);
  border: solid 2px;
}
.sound-option img {
  width: 26px;
  height: 26px;
}

#end-screen-lost {
  background-image: url("assets/img/9_intro_outro_screens/game_over/game-over.png");
  background-size: cover;
  background-repeat: round;
}

#end-screen-won {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#end-screen-won span {
  background: linear-gradient(to bottom, #ffc521, #ef8b10);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 140px;
  text-shadow: -4px 4px 2px rgba(160, 34, 10, 0.3);
  z-index: 1;
}
#end-screen-won .end-screen-circle {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 400px rgba(0, 0, 0, 0.9);
}

#replay-btn-screen {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#replay-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #a0220a;
  background: linear-gradient(to bottom, #ffc521, #ef8b10);
  border: solid 2px;
  outline: none;
  font-family: "boogaloo", Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding: 0px 16px;
  margin-bottom: 8px;
  box-shadow: 0px 1px 4px 2px rgba(255, 197, 33, 0.3);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
#replay-btn:hover {
  background: linear-gradient(to bottom, #ef8b10, #ffc521);
  transition: all 250ms ease-in-out;
}

#permanent-key-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  width: 684px;
  font-size: 24px;
  background-color: rgba(255, 197, 33, 0.4);
  padding: 10px;
  border-radius: 10px;
}
#permanent-key-info-container .permanent-key-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.permanent-key {
  width: 32px;
  height: 32px;
  font-size: 22px;
}
.permanent-key img:not(.key-space) {
  width: 8px;
  height: 8px;
}
.permanent-key .key-space {
  width: 24px;
  height: 24px;
}

.permanent-key-jump {
  display: flex;
  justify-content: center;
  align-items: center;
}

.permanent-key-separator {
  color: #a0220a;
  margin: 0 8px;
  font-size: 24px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 175, 125, 0.7);
  z-index: 5;
  opacity: 1;
}

.loader {
  border-left: 16px dashed #a0220a;
  border-right: 16px dashed #ef8b10;
  border-radius: 50%;
  background-image: url("assets/img/6_salsa_bottle/salsa_bottle.png");
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------
Media Query
---------------------------------------------------*/
@media only screen and (max-width: 720px) {
  body {
    font-size: 32px;
  }
  #main-screen-container {
    width: 100%;
  }
  canvas,
  .overlay-screen {
    border-radius: unset;
  }
  #permanent-key-info-container {
    gap: 20px;
    font-size: 18px;
    width: 80%;
  }
  #permanent-key-info {
    gap: 6;
  }
}
@media only screen and (max-width: 360px) {
  body {
    font-size: 24px;
  }
}
@media only screen and (max-height: 612px) {
  body {
    height: unset;
  }
  h1,
  #permanent-key-info-container {
    display: none;
  }
  /* #main-screen-container {
      height: 100vh;
      border-radius: unset;
  } */
  canvas {
    height: 100vh;
    border-radius: unset;
  }
  .overlay-screen {
    border-radius: unset;
  }
}
.d-none {
  display: none;
}

.full-opacity {
  opacity: 1 !important;
}/*# sourceMappingURL=style.css.map */