/* Variables */
$loco-red: #a0220a;
$loco-yellow: #ffc521;
$loco-orange: #ef8b10;
$loco-beige: #CCAF7D;
$transparent-black: rgba(0, 0, 0, 0.878);
$loco-gradient: linear-gradient(to bottom, $loco-yellow, $loco-orange);
$loco-gradient-reversed: linear-gradient(to bottom, $loco-orange, $loco-yellow);
$canvas-width: 720px;
$canvas-height: 480px;

/* Mixins */
@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textcolor-gradient($colorA: $loco-yellow, $colorB: $loco-orange) {
    background: linear-gradient(to bottom, $colorA, $colorB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Font Faces */
@font-face {
    font-family: 'zabars';
    src: url('assets/fonts/zabars.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'boogaloo';
    src: url('assets/fonts/boogaloo-regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

/*--------------------------------------------------
General Styles
---------------------------------------------------*/
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url('assets/img/desert-bg3.png');
    background-size: cover;
    font-family: 'boogaloo', Arial, Helvetica, sans-serif;
    font-size: 46px;
    color: $loco-red;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: $loco-orange;
    border-radius: 2px;
}

/* Heading Styles */
h1 {
    letter-spacing: 8px;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 2px rgba($loco-red, 0.3);
}

/*--------------------------------------------------
Gamescreen (Canvas)
---------------------------------------------------*/
#main-screen-container {
    position: relative;
}

canvas {
    width: 100%;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 6px 6px rgba($loco-red, 0.7);
    display: block;
}

.overlay-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

/*--------------------------------------------------
Startscreen
---------------------------------------------------*/
#start-screen {
    background-image: url('assets/img/9_intro_outro_screens/start/startscreen_1big3to2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

#play-btn-screen {
    @include flex-centered;
    z-index: 1;

    &:hover #play-btn img {
        opacity: 0.5;
        transition: all 250ms ease-in-out;
    }
}

#play-btn {
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;

    img {
        width: calc(0.4 * $canvas-width);
        opacity: 0;
        transition: all 250ms ease-in-out;
    }

    &:hover img {
        opacity: 0.8 !important;
        transition: all 250ms ease-in-out;
    }
}

/*--------------------------------------------------
Menubar
---------------------------------------------------*/
#menu-bar {
    @include flex-centered;
    gap: calc(0.045 * $canvas-width);
    position: absolute;
    top: calc(0.03 * $canvas-width);
    right: calc(0.03 * $canvas-width);
    z-index: 3;
}

#sound-btn,
#info-btn,
#fullscreen-btn {
    @include flex-centered;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;

    img {
        width: calc(0.045 * $canvas-width);
        opacity: 0.8;
    }

    &:hover img {
        opacity: 1;
    }
}

#fullscreen-btn img {
    width: calc(0.04 * $canvas-width);
}

/*--------------------------------------------------
Infoscreen
---------------------------------------------------*/
#info-screen {
    @include flex-centered;
    padding: 10% 5% 6% 5%;
    background-color: $transparent-black;
}

#info-content {
    display: flex;
    flex-direction: column;
    color: $loco-orange;
    font-size: calc(0.06 * $canvas-height);
    overflow: auto;
    height: inherit;
    z-index: 3;
    padding-right: 16px;

    section {
        margin-bottom: 10%;
    }

    h2 {
        margin-bottom: 5%;
        color: $loco-yellow;
    }

    .icon-td {
        @include flex-centered;
        height: calc(0.0888 * $canvas-width);
        padding-right: calc(0.111 * $canvas-width);
        padding-left: calc(0.0111 * $canvas-width);
    }
}

.key {
    @include flex-centered;
    width: calc(0.1 * $canvas-height);
    height: calc(0.1 * $canvas-height);
    border-radius: 10px;
    color: $loco-red;
    background: $loco-gradient;
    border: solid 2px;
    font-size: calc(0.045 * $canvas-width);

    img:not(.key-space) {
        width: 33.33%;
        height: 33.33%;
    }

    .key-space {
        width: 75%;
        height: 75%;
    }
}

#key-separator {
    color: $loco-red;
    margin: 0 calc(0.033 * $canvas-height);
    font-size: calc(0.1 * $canvas-height);
}

#sound-description-text {
    margin-bottom: calc(0.033 * $canvas-height);
}

.sound-option {
    @include flex-centered;
    width: calc(0.1 * $canvas-height);
    height: calc(0.1 * $canvas-height);
    border-radius: 50%;
    color: $loco-red;
    background: $loco-gradient;
    border: solid 2px;

    img {
        width: 60%;
        height: 60%;
    }
}

/*--------------------------------------------------
Endscreen
---------------------------------------------------*/
#end-screen-lost {
    background-image: url('assets/img/9_intro_outro_screens/game_over/game-over.png');
    background-size: cover;
    background-repeat: round;
}

#end-screen-won {
    @include flex-centered;
    flex-direction: column;
    overflow: hidden;
    font-size: calc(0.29 * $canvas-height);

    span {
        @include textcolor-gradient();
        text-shadow: -4px 4px 2px rgba($loco-red, 0.3);
        z-index: 1;
    }

    #end-screen-circle {
        width: calc(0.5 * $canvas-height);
        height: calc(0.5 * $canvas-height);
        border-radius: 50%;
        box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.9);
    }
}

#replay-btn-screen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#replay-btn {
    @include flex-centered;
    border-radius: 10px;
    color: $loco-red;
    background: $loco-gradient;
    border: solid 2px;
    outline: none;
    font-family: 'boogaloo', Arial, Helvetica, sans-serif;
    font-size: calc(0.056 * $canvas-width);
    padding: 0px 2.22%;
    margin-bottom: 1.11%;
    box-shadow: 0px 1px 4px 2px rgba($loco-yellow, 0.3);
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &:hover {
        background: $loco-gradient-reversed;
        transition: all 250ms ease-in-out;
    }

    &:active {
        background: rgba($loco-red, 0.5);
        transition: all 250ms ease-in-out;
    }
}

/*--------------------------------------------------
Touch Keys
---------------------------------------------------*/
#touch-keys {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -100px;
    padding: calc(0.015 * $canvas-width) calc(0.045 * $canvas-width);
    width: 100%;
    opacity: 0.2;

    div {
        @include flex-centered;
        gap: calc(0.05 * $canvas-width);
    }
}

.touch-key {
    @extend .key;
    width: calc(0.16 * $canvas-height);
    height: calc(0.16 * $canvas-height);
    border-radius: 50%;
    background: $loco-gradient-reversed;
    z-index: -1;
    opacity: 0;
    cursor: pointer;

    &:hover {
        background: $loco-gradient;
    }

    &:active {
        background: rgba($loco-red, 0.5);
    }
}

.key-bottle {
    width: 84% !important;
    height: 60% !important;
    rotate: -30deg;
}

/*--------------------------------------------------
Permanent Key Info
---------------------------------------------------*/
#permanent-key-info-container {
    @include flex-centered;
    flex-wrap: wrap;
    gap: 32px;
    width: calc(0.95 * $canvas-width);
    font-size: 24px;
    background-color: rgba($loco-yellow, 0.4);
    padding: 10px;
    border-radius: 10px;

    .permanent-key-info {
        @include flex-centered;
        gap: 10px;
    }
}

.permanent-key {
    @extend .key;
    width: 32px;
    height: 32px;
    font-size: 22px;

    img:not(.key-space) {
        width: 8px;
        height: 8px
    }

    .key-space {
        width: 24px;
        height: 24px
    }
}

.permanent-key-jump {
    @include flex-centered;
}

#permanent-key-separator {
    color: $loco-red;
    margin: 0 8px;
    font-size: 24px;
}

/*--------------------------------------------------
Loading Spinner
---------------------------------------------------*/
.loader-container {
    @include flex-centered;
    background-image: url('assets/img/5_background/layers/air.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
    opacity: 1;
}

#loader-img {
    border-left: calc(0.02 * $canvas-width) dashed $loco-red;
    border-right: calc(0.02 * $canvas-width) dashed $loco-orange;
    border-radius: 50%;
    background-image: url('assets/img/6_salsa_bottle/salsa_bottle.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 75%;
    animation: spin 1000ms linear infinite, zoom-in-out 500ms ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoom-in-out {
    0% {
        width: 0;
        height: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    100% {
        width: 50%;
        height: 75%;
        border-left-width: calc(0.02 * $canvas-width);
        border-right-width: calc(0.02 * $canvas-width);
    }
}

/*--------------------------------------------------
Fullscreen
---------------------------------------------------*/
#main-screen-container:fullscreen {
    border-radius: unset;

    canvas {
        height: 100vh;
        border-radius: unset;
    }

    .overlay-screen {
        border-radius: unset;
    }

    #touch-keys {
        bottom: 0;
    }
}

/*--------------------------------------------------
Media Query
---------------------------------------------------*/
@media only screen and (max-width: $canvas-width) {
    body {
        font-size: 32px;
    }

    canvas,
    .overlay-screen {
        border-radius: unset;
    }
}

@media only screen and (max-width: $canvas-width) and (min-height: calc($canvas-height)) {
    #main-screen-container {
        width: 100%;
    }

    #permanent-key-info-container {
        gap: 20px;
        font-size: 18px;
        width: 80%;
    }

    #permanent-key-info {
        gap: 6;
    }
}

@media only screen and (max-width: 360px) {
    body {
        font-size: 24px;
    }
}

@media only screen and (max-height: calc($canvas-height + 132px)) {
    body {
        gap: unset;
    }

    h1,
    #permanent-key-info-container {
        display: none;
    }
}

@media only screen and (max-height: calc($canvas-height)) and (min-width: $canvas-width) {
    body {
        height: unset;
        gap: unset;
    }

    canvas {
        height: 100vh;
        border-radius: unset;
    }

    .overlay-screen {
        border-radius: unset;
    }
}

/*--------------------------------------------------
Mobile/Touch Device
---------------------------------------------------*/
.mobile-only {
    display: none !important;
}

.desktop-only {
    display: flex !important;
}

@media (pointer: coarse) {
    #play-btn img {
        opacity: 0.7 !important;
    }

    .key {
        border-radius: 50%;
        background: $loco-gradient-reversed;
    }

    .touch-key {
        z-index: 1;
        opacity: 1;
    }

    #permanent-key-info-container {
        display: none;
    }

    .mobile-only {
        display: flex !important;
    }

    .desktop-only {
        display: none !important;
    }

    @media (orientation:landscape) {
        body {
            background: black !important;
            gap: unset;
        }

        h1 {
            display: none;
        }

        #main-screen-container {
            background: black !important;
            border-radius: unset;
        }

        canvas {
            height: 100vh !important;
            width: 100% !important;
            border-radius: unset;
            box-shadow: unset !important;
        }

        .overlay-screen {
            border-radius: unset;
        }

        #touch-keys {
            bottom: 0;
        }
    }
}

/*--------------------------------------------------
Show/Hide
---------------------------------------------------*/
.d-none {
    display: none !important;
}

.full-opacity {
    opacity: 1 !important;
}