$loco-red: #a0220a;
$loco-yellow: #ffc521;
$loco-orange: #ef8b10;
$transparent-black: rgba(0, 0, 0, 0.878);
$loco-gradient: linear-gradient(to bottom, $loco-yellow, $loco-orange);
$canvas-width: 720px;
$canvas-height: 480px;



@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

// @mixin textcolor-gradient($colorA: $loco-yellow, $colorB: $loco-orange) {
//     background: linear-gradient(to bottom, $colorA, $colorB);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }

@font-face {
    font-family: 'zabars';
    src: url('assets/fonts/zabars.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'boogaloo';
    src: url('assets/fonts/boogaloo-regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url('assets/img/desert-bg3.png');
    background-size: cover;
    font-family: 'boogaloo', Arial, Helvetica, sans-serif;
    font-size: 46px;
    color: $loco-red;
}

::-webkit-scrollbar {
    width: 4px;
}

// ::-webkit-scrollbar-track {
//     // background: #f1f1f1;
//     border-radius: 50%;
// }

::-webkit-scrollbar-thumb {
    background: $loco-orange;
    border-radius: 2px;
}

// ::-webkit-scrollbar-thumb:hover {
//     background: $loco-yellow;
// }

h1 {
    letter-spacing: 8px;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 2px rgba($loco-red, 0.3);
}

#main-screen-container {
    position: relative;
}

canvas {
    width: 100%;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 6px 6px rgba($loco-red, 0.7);
    display: block;
}

.overlay-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

#start-screen {
    background-image: url('assets/img/9_intro_outro_screens/start/startscreen_1big.png');
    background-size: cover;
    background-position-y: 40%;
}

#play-btn-screen {
    @include flex-centered;
    z-index: 1;

    &:hover #play-btn img {
        opacity: 0.5;
        transition: all 250ms ease-in-out;
    }
}

#play-btn {
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: none;

    img {
        width: 250px;
        opacity: 0;
        transition: all 250ms ease-in-out;
    }

    &:hover img {
        opacity: 0.8 !important;
        transition: all 250ms ease-in-out;
    }
}

#menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

#sound-btn,
#info-btn,
#fullscreen-btn {
    @include flex-centered;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;

    img {
        width: 32px;
        opacity: 0.8;
    }

    &:hover img {
        opacity: 1;
    }
}

#fullscreen-btn img {
    width: 28px;
}

#info-screen {
    @include flex-centered;
    padding: 72px 40px 48px 40px;
    background-color: $transparent-black;
}

#info-content {
    display: flex;
    flex-direction: column;
    color: $loco-orange;
    font-size: 26px;
    overflow: auto;
    height: inherit;
    z-index: 2;
    padding-right: 16px;

    section {
        margin-bottom: 48px;
    }

    h2 {
        margin-bottom: 24px;
        color: $loco-yellow;
    }

    td {
        margin-bottom: 12px;
    }

    td:first-child {
        @include flex-centered;
        margin-right: 100px;
        margin-left: 8px;
    }
}

.key {
    @include flex-centered;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    color: $loco-red;
    background: $loco-gradient;
    border: solid 2px;
    font-size: 32px;

    img:not(.key-space) {
        width: 16px;
        height: 16px
    }

    .key-space {
        width: 36px;
        height: 36px
    }
}

.key-separator {
    color: $loco-red;
    margin: 0 16px;
    font-size: 48px;
}

.description-text {
    margin-bottom: 16px;
}

.sound-option {
    @include flex-centered;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: $loco-red;
    background: $loco-gradient;
    border: solid 2px;

    img {
        width: 26px;
        height: 26px
    }
}

#end-screen-lost {
    background-image: url('assets/img/9_intro_outro_screens/game_over/game-over.png');
    background-size: contain;
}

#end-screen-won {
    background-image: url('assets/img/9_intro_outro_screens/game_over/game-over.png');
    background-size: contain;
}

#permanent-key-info-container {
    @include flex-centered;
    gap: 32px;
    width: 95%;
    position: absolute;
    bottom: -80px;
    left: calc(0.5 * 0.05 * $canvas-width);
    font-size: 24px;
    background-color: rgba($loco-yellow, 0.4);
    padding: 10px;
    border-radius: 10px;

    .permanent-key-info {
        @include flex-centered;
        gap: 10px;
    }
}

.permanent-key {
    @extend .key;
    width: 32px;
    height: 32px;
    font-size: 22px;

    img:not(.key-space) {
        width: 8px;
        height: 8px
    }

    .key-space {
        width: 24px;
        height: 24px
    }
}

.permanent-key-jump {
    @include flex-centered;
}

.permanent-key-separator {
    color: $loco-red;
    margin: 0 8px;
    font-size: 24px;
}

@media only screen and (max-width: $canvas-width) {
    #main-screen-container {
        width: 100%;
    }

    canvas {
        border-radius: unset;
    }
}

@media only screen and (max-height: $canvas-height) {
    h1 {
        display: none;
    }

    /* #main-screen-container {
        height: 100vh;
        border-radius: unset;
    } */

    canvas {
        height: 100vh;
        border-radius: unset;
    }
}

.d-none {
    display: none;
}

.full-opacity {
    opacity: 1 !important;
}