$loco-red: #a0220a;
$loco-yellow: #ffc521;
$loco-orange: #ef8b10;
$loco-beige: #CCAF7D;
$transparent-black: rgba(0, 0, 0, 0.878);
$loco-gradient: linear-gradient(to bottom, $loco-yellow, $loco-orange);
$canvas-width: 720px;
$canvas-height: 480px;



@mixin flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textcolor-gradient($colorA: $loco-yellow, $colorB: $loco-orange) {
    background: linear-gradient(to bottom, $colorA, $colorB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@font-face {
    font-family: 'zabars';
    src: url('assets/fonts/zabars.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
    font-family: 'boogaloo';
    src: url('assets/fonts/boogaloo-regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url('assets/img/desert-bg3.png');
    background-size: cover;
    font-family: 'boogaloo', Arial, Helvetica, sans-serif;
    font-size: 46px;
    color: $loco-red;
}

::-webkit-scrollbar {
    width: 4px;
}

// ::-webkit-scrollbar-track {
//     // background: #f1f1f1;
//     border-radius: 50%;
// }

::-webkit-scrollbar-thumb {
    background: $loco-orange;
    border-radius: 2px;
}

// ::-webkit-scrollbar-thumb:hover {
//     background: $loco-yellow;
// }

h1 {
    letter-spacing: 8px;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    text-shadow: 4px 4px 2px rgba($loco-red, 0.3);
}

#main-screen-container {
    position: relative;
}

canvas {
    width: 100%;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0px 0px 6px 6px rgba($loco-red, 0.7);
    display: block;
}

#status-bar-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    // gap: calc(0.014 * $canvas-width);
    width: calc(0.045 * $canvas-width);
    height: calc(0.195 * $canvas-height);
    position: absolute;
    top: 5%;
    left: 24%;
    font-size: 20px;
    color: white;
}

#endboss-status {
    position: absolute;
    top: 60%;
    // left: 950%;
    right: -930%;
}

.overlay-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

#start-screen {
    background-image: url('assets/img/9_intro_outro_screens/start/startscreen_1big.png');
    background-size: cover;
    background-position-y: 40%;
}

#play-btn-screen {
    @include flex-centered;
    z-index: 1;

    &:hover #play-btn img {
        opacity: 0.5;
        transition: all 250ms ease-in-out;
    }
}

#play-btn {
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;

    img {
        width: calc(0.4 * $canvas-width);
        // height: 300px;
        opacity: 0;
        transition: all 250ms ease-in-out;
    }

    &:hover img {
        opacity: 0.8 !important;
        transition: all 250ms ease-in-out;
    }
}

#menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
}

#sound-btn,
#info-btn,
#fullscreen-btn {
    @include flex-centered;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;

    img {
        width: calc(0.045 * $canvas-width);
        opacity: 0.8;
    }

    &:hover img {
        opacity: 1;
    }
}

#fullscreen-btn img {
    width: calc(0.04 * $canvas-width);
}

#info-screen {
    @include flex-centered;
    // padding: 72px 40px 48px 40px;
    padding: 10% 5% 6% 5%;
    background-color: $transparent-black;
}

#info-content {
    display: flex;
    flex-direction: column;
    color: $loco-orange;
    font-size: calc(0.06 * $canvas-height);
    overflow: auto;
    height: inherit;
    z-index: 3;
    padding-right: 16px;

    section {
        margin-bottom: 10%;
    }

    h2 {
        margin-bottom: 5%;
        color: $loco-yellow;
    }

    .icon-td {
        @include flex-centered;
        // height: 64px;
        // padding-right: 80px;
        // padding-left: 8px;
        // height: 40%;
        // padding-right: 50%;
        // padding-left: 5%;
        height: calc(0.0888 * $canvas-width);
        padding-right: calc(0.111 * $canvas-width);
        padding-left: calc(0.0111 * $canvas-width);
    }
}

.key {
    @include flex-centered;
    width: calc(0.1 * $canvas-height);
    height: calc(0.1 * $canvas-height);
    border-radius: 10px;
    color: $loco-red;
    background: $loco-gradient;
    border: solid 2px;
    font-size: calc(0.045 * $canvas-width);

    img:not(.key-space) {
        width: 33.33%;
        height: 33.33%;
    }

    .key-space {
        width: 75%;
        height: 75%;
    }
}

#key-separator {
    color: $loco-red;
    margin: 0 calc(0.033 * $canvas-height);
    font-size: calc(0.1 * $canvas-height);
}

#sound-description-text {
    margin-bottom: calc(0.033 * $canvas-height);
}

.sound-option {
    @include flex-centered;
    width: calc(0.1 * $canvas-height);
    height: calc(0.1 * $canvas-height);
    border-radius: 50%;
    color: $loco-red;
    background: $loco-gradient;
    border: solid 2px;

    img {
        width: 60%;
        height: 60%;
    }
}

#end-screen-lost {
    background-image: url('assets/img/9_intro_outro_screens/game_over/game-over.png');
    background-size: cover;
    background-repeat: round;
}

#end-screen-won {
    @include flex-centered;
    flex-direction: column;
    overflow: hidden;
    font-size: calc(0.29 * $canvas-height);

    span {
        @include textcolor-gradient();
        text-shadow: -4px 4px 2px rgba($loco-red, 0.3);
        z-index: 1;
    }

    #end-screen-circle {
        width: calc(0.5 * $canvas-height);
        height: calc(0.5 * $canvas-height);
        border-radius: 50%;
        box-shadow: 0px 0px 0px 400px rgba(0, 0, 0, 0.9);
    }
}

#replay-btn-screen {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#replay-btn {
    @include flex-centered;
    border-radius: 10px;
    color: $loco-red;
    background: $loco-gradient;
    border: solid 2px;
    outline: none;
    font-family: 'boogaloo', Arial, Helvetica, sans-serif;
    font-size: calc(0.056 * $canvas-width);
    padding: 0px 2.22%;
    // margin-bottom: calc(0.0167 * $canvas-height);
    margin-bottom: 1.11%;
    box-shadow: 0px 1px 4px 2px rgba($loco-yellow, 0.3);
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &:hover {
        background: linear-gradient(to bottom, $loco-orange, $loco-yellow);
        transition: all 250ms ease-in-out;
    }
}

#permanent-key-info-container {
    @include flex-centered;
    flex-wrap: wrap;
    gap: 32px;
    width: calc(0.95 * $canvas-width);
    // position: absolute;
    // // bottom: -80px;
    // left: 2.5%;
    // margin-top: 24px;
    font-size: 24px;
    background-color: rgba($loco-yellow, 0.4);
    padding: 10px;
    border-radius: 10px;

    .permanent-key-info {
        @include flex-centered;
        gap: 10px;
    }
}

.permanent-key {
    @extend .key;
    width: 32px;
    height: 32px;
    font-size: 22px;

    img:not(.key-space) {
        width: 8px;
        height: 8px
    }

    .key-space {
        width: 24px;
        height: 24px
    }
}

.permanent-key-jump {
    @include flex-centered;
}

#permanent-key-separator {
    color: $loco-red;
    margin: 0 8px;
    font-size: 24px;
}

.loader-container {
    @include flex-centered;
    // position: fixed;
    background-color: rgba($loco-beige, 0.7);
    z-index: 5;
    // width: 100%;
    // height: 100%;
    opacity: 1;
}

#loader-img {
    border-left: calc(0.02 * $canvas-width) dashed $loco-red;
    border-right: calc(0.02 * $canvas-width) dashed $loco-orange;
    border-radius: 50%;
    background-image: url('assets/img/6_salsa_bottle/salsa_bottle.png');
    background-size: contain;
    background-position: center;
    width: 26%;
    height: 39%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------
Media Query
---------------------------------------------------*/
@media only screen and (max-width: $canvas-width) {
    body {
        font-size: 32px;
    }

    #main-screen-container {
        width: 100%;
    }

    canvas,
    .overlay-screen {
        border-radius: unset;
    }

    #permanent-key-info-container {
        gap: 20px;
        font-size: 18px;
        width: 80%;
        // left: 10%;
    }

    #permanent-key-info {
        gap: 6;
    }
}

@media only screen and (max-width: 360px) {
    body {
        font-size: 24px;
    }
}

@media only screen and (max-height: calc($canvas-height + 132px)) {

    body {
        height: unset;
    }

    h1,
    #permanent-key-info-container {
        display: none;
    }

    /* #main-screen-container {
        height: 100vh;
        border-radius: unset;
    } */

    canvas {
        height: 100vh;
        border-radius: unset;
    }

    .overlay-screen {
        border-radius: unset;
    }
}

.d-none {
    display: none;
}

.full-opacity {
    opacity: 1 !important;
}